tr,
.code_view,
.odd_depth {
  background-color: #f0f0f0;
}
tr:nth-child(2n),
.even_depth {
  background-color: #ddd;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
  tr,
  .code_view,
  .odd_depth {
    background-color: #282828;
  }
  tr:nth-child(2n),
  .even_depth {
    background-color: #444;
  }
}
.maindiv {
  max-width: 32em;
  margin: auto;
  text-align: justify;
}
body {
  font-size: 16pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button,
input {
  font-size: inherit;
  font-family: inherit;
}
h1 {
  color: #23428e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
th,
.assignment_name {
  background-color: #23428e;
  color: #ffffff;
  font-weight: bold;
}
table {
  border-collapse: collapse;
}
.sortable thead {
  cursor: default;
}
.sortable th {
  padding-left: 15px;
  padding-right: 19px;
}
tr {
  border: none;
}
th {
  padding: 5px 8px;
}
td {
  padding: 2px 8px;
}
.tab_button {
  float: left;
  padding: 5px 10px;
}
.tab_button:hover {
  background-color: #ccc;
}
.tab_button:active {
  background-color: #888;
}
thead {
  position: sticky;
  top: 0;
}
.mono {
  font-family: "Source Code Pro", Hack, "Lucida Console",
    "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}
.serif {
  font-family: Georgia, Caledonia, Times, Times New Roman, serif;
}
.flashes {
  background-color: #ccc;
}
.summary_table {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.summary_table::after {
  content: "";
  flex-grow: 1000000000;
}
.summary_table > table {
  margin: 4px;
  flex-grow: 1;
}
.summary_table tr > td:first-child {
  padding-right: 1px;
}
.summary_table tr > td:nth-child(2) {
  text-align: right;
  padding-left: 1px;
}
.minibuttons {
  display: inline-block;
}
.minibuttons > span {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, auto);
}
.minibuttons > span > button {
  margin-right: 1px;
}
.minibutton {
  font-size: 13pt;
  padding: 0px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.shaded {
  margin: 2px 1px 0px;
  padding: 0px 2px;
  display: inline-flex;
  align-items: flex-end;
  align-self: stretch;
  flex-flow: wrap;
}
.builtin {
  color: #8e2377;
}
.number {
  color: #8e6f23;
}
.string {
  color: #238e3a;
}
.comment {
  color: #737373;
}
.error {
  color: #8e2330;
  font-weight: bold;
}
.code_view {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.code_view > div {
  display: flex;
  flex-flow: wrap;
  margin: 1px 0px;
  min-height: 36px;
  align-items: center;
}
.code_view > .assignment_value {
  align-items: flex-end;
}
.logo {
  float: right;
}
.analysis_table {
  display: block;
  width: 100%;
  max-height: 75vh;
  overflow-x: auto;
  text-align: center;
}
.analysis_table th {
  text-align: center;
}
.new_column {
  background-color: #567b23;
}
.used_column {
  color: #ff4;
}
#help {
  display: none;
  column-width: 24em;
  text-align: justify;
}
.menu_buttons {
  display: flex;
}
.menu_buttons button {
  margin: 0px 2px;
}
.rule_above > td {
  border-top: 2px solid black;
}
.sorttable_sorted::after {
  position: absolute;
  content: "\25BE";
}
.sorttable_sorted_reverse::after {
  position: absolute;
  content: "\25B4";
}
article {
  contain: content;
}
