{% extends "base.html.jinja" %}
{% block title %}Analysis{% endblock %}
{% block head %}
{{ super() }}
<script defer src="{{ url_for("static", filename="sorttable.js") }}"></script>
<script>
  function showTab(index) {
    let tabs = document.getElementsByClassName("tab");
    let tabButtons = document.getElementsByClassName("tab_button");
    for (let i = 0; i < tabs.length; i++) {
      if (i === index) {
        tabs[i].style.display = "block";
        tabButtons[i].style.backgroundColor = "#aaa";
      } else {
        tabs[i].style.display = "none";
        tabButtons[i].style.backgroundColor = null;
      }
    }
  }
  function setup() {
    showTab(0);
    for (const col of document.getElementsByClassName("initial_sort")) {
      sorttable.innerSortFunction.apply(col, []);
    }
  }
  window.addEventListener("DOMContentLoaded", setup);
</script>
{% endblock %}
{% block page %}
{{ self.headings() }}
<a href="setup">Back to Setup</a>
<br />
<br />
{% for name in page_names %}
<button class="tab_button" onclick="showTab({{ loop.index0 }})">
  {{ name }}
</button>
{% endfor %}
<br />
<br />
<div>
  {% for description, page, count in zip(descriptions, pages, counts) %}
  <article class="tab">
    <p>Found using:</p>
    {{ description }}
    {% if count is not none %}
      <p>{{ count }} rows.</p>
      <a href="analysis/{{ loop.index0 }}.csv">Download CSV</a>
    {% endif %}
    {{ page }}
  </article>
  {% endfor %}
</div>
{% endblock %}
