<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for("static", filename="style.css") }}"
    />
    <link rel="icon" href="{{ url_for("static", filename="logo.svg") }}">
    {% endblock %}
    <title>
      {%block name %}Analyser{% endblock %}
      –
      {% block title required %}{% endblock %}
    </title>
  </head>
  <body>
    <img
      src="{{ url_for("static", filename="logo.svg") }}"
      width="96"
      height="96"
      class="logo"
      alt="Logo"
    />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block page %}
    <div class="maindiv">
      {% block headings %}
      <h1>{{ self.name() }}</h1>
      <h2>{{ self.title() }}</h2>
      {% endblock %}
      {% block narrow_content %}{% endblock %}
    </div>
    {% endblock %}
  </body>
</html>
