<h3>Help</h3>
<h4>Summary Data</h4>
<p>
  The small tables below give the most common {{ english_number(common_count) }}
  values in each column of data. The count for each value is in the left column.
</p>
<h4>Analysis Setup</h4>
<h5>Creating a New Page</h5>
<ol>
  <li>
    Press the {{ button("duplicate_statement") }} button near the left of a row.
  </li>
  <li>Modify the definition of the page.</li>
  <li>
    Use the {{ button("edit_identifier") }} button near the left to give the
    page a new name.
  </li>
  <li>
    In the bottom ‘pages’ row, press {{ button("extend") }} and type the name of
    the new page, and press return.
  </li>
</ol>
<h5>Mapping Functions</h5>
<p>It is possible to map a function over a dataset. This is the easiest way:</p>
<ol>
  <li>
    Press {{ button("edit") }} after the column you wish to apply a function to.
  </li>
  <li>Press {{ button("map_function") }}.</li>
  <li>Enter the name of the function you wish to apply, and press return.</li>
</ol>
<p>
  Currently, the case_fold, letters_only and digits_only functions are the only
  string functions that can be used this way.
</p>
<p>
  When you have finished setting up the analysis, click the ‘Analyse’ button to
  go to the analysis page. This button will be greyed out while there are still
  unfilled text boxes in the editing area. Any errors (such as trying to call a
  function on a value of the wrong type) will appear as messages at the top of
  the page, and must be fixed before the analysis can be performed.
</p>
<h4>Analysis Page</h4>
<p>
  The buttons at the top allow toggling between different analyses. In the
  results table, the columns with blue headings are those from the original
  dataset, and columns with green headings have been created for the analysis.
  You can click the column headings to sort the table.
</p>
<p>
  Horizontal lines will appear on the table to show divisions between groups of
  the same value in the currently sorted column.
</p>
<h4>Advanced Usage</h4>
<p>
  To map a non-string function over a dataset, first the dataset must be
  converted to a different type. This methods currently works with integers,
  floats and booleans (‘true’ or ‘false’). The easiest procedure for this is as
  follows:
</p>
<ol>
  <li>Press {{ button("edit") }} after the column.</li>
  <li>Press {{ button("map_function") }}.</li>
  <li>Type ‘x’ and press enter.</li>
  <li>Press the second {{ button("edit") }} after ‘x’.</li>
  <li>Press {{ button("add_function_call") }}.</li>
  <li>
    Type ‘? y’, replacing ‘y’ with a default value in case the values in the
    column cannot be converted.
  </li>
  <li>Press the third {{ button("edit") }} after ‘x’.</li>
  <li>Press {{ button("add_function") }}.</li>
  <li>Type ‘x’ and press enter.</li>
</ol>
<p>
  The meanings of all of the buttons, which can be used to achieve more complex
  tasks, are shown in the list below. You can also hover over a button wherever
  it appears for the same information.
</p>
<ul>
  {% for btn in buttons %}
    <li>{{ button(btn.name) }}{{ btn.display_name }}</li>
  {% endfor %}
</ul>
