{% extends "base.html.jinja" %}
{% block title %}Information{% endblock %}
{% block narrow_content %}
<p>
  This tool can perform analyses on tables.
  <a href="upload">Click to proceed to the file upload page.</a>
</p>
{% endblock %}
