{% extends "base.html.jinja" %}
{% block title %}Setup{% endblock %}
{% block page %}
{{ self.headings() }}
<script>
  function goBack() {
    sessionStorage.setItem("canGoForward", "y");
    history.back();
  }
  function show(button, id) {
    document.getElementById(id).style.display = "block";
    button.style.display = "none";
  }
  window.onload = window.onpageshow = function () {
    if (document.referrer.endsWith("setup")) {
      document.getElementById("undo").disabled = undefined;
    }
    if (sessionStorage.getItem("canGoForward")) {
      document.getElementById("redo").disabled = undefined;
    }
    sessionStorage.setItem("canGoForward", "");
  };
</script>
<div class="menu_buttons">
  <button onclick="location.href='upload';" title="Back">🡐</button>
  <button id="undo" onclick="goBack()" title="Undo" disabled>↶</button>
  <button id="redo" onclick="history.forward()" title="Redo" disabled>
    ↷
  </button>
  <button onclick="show(this, 'preview')">Data Preview</button>
  <button onclick="show(this, 'import-export')">Import/Export</button>
  <button onclick="show(this, 'help')">Help</button>
</div>
<div id="preview" style="display: none">{{ summary }}</div>
<div id="import-export" style="display: none">
  <h3>Import/Export</h3>
  <form method="post" enctype="multipart/form-data" action="import-upload">
    <input type="file" name="file" class="mono" />
    <input type="submit" value="Import analysis" />
  </form>
  <form method="post" enctype="multipart/form-data" action="export">
    <input name="filename" class="mono" placeholder="analysis" /><span
      class="mono"
      >.txt</span
    >
    <input type="submit" value="Export analysis" />
  </form>
</div>
<div id="help">{{ help }}</div>
<h3>Configuration</h3>
<form method="post" action="setup" autocomplete="off">
  {{ script_edit }}
  <textarea name="script" class="mono" autocomplete="off" hidden>
{{ script }}</textarea
  >
  <br />
  <input
    type="submit"
    value="Analyse"
    formaction="analysis"
    {% if submit_blocked %}disabled{% endif %}
  />
</form>
{% endblock %}
