{% extends "base.html.jinja" %}
{% block title %}Upload{% endblock %}
{% block narrow_content %}
<p>
  Upload a table in one of the following formats. The filename extension must
  match. Formats near the top of the list are preferred.
</p>
{{ filetypes }}
<form method="post" enctype="multipart/form-data" action="setup">
  <input type="file" name="file" class="mono" />
  <input type="submit" value="Upload" />
</form>
{% endblock %}
